body {
  font-family: 'Chilanka', Arial;
  margin: 0px;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 30%, rgba(148, 187, 233, 1) 100%);
}

.title {
  margin-top: 30px;
  text-align: center;
  font-size: 120px;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inline {
  display: inline-block;
}

.score {
  font-weight: bolder;
}

.selection {
  text-align: center;
  border: 2px solid black;
  border-radius: 25px;
  padding: 0px 10px;
}

.square {
  border: 2px solid black;
  padding: 2px;
  margin: 3px;
  width: 30px;
  height: 30px;
  display: inline-block;
  outline: none;
}

.info {
  text-align: center;
}

.info hr {
  margin: 30px;
  margin-left: 5%;
  margin-right: 5%;
  border-style: groove;
  border-color: black;
  border-width: 1px;
}

.square {
  background-color: rgba(238, 174, 202, 0.2);
  text-align: center;
  font-size: 70px;
  cursor: pointer;
  border-radius: 40%;
  width: 90px;
  height: 90px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(3, 90px);
  gap: 10px 10px;
  place-content: center;
}

.winner {
  font-size: 25px;
  animation: winner 3s ease infinite normal;
}

@keyframes winner {
  from {
    font-size: 25px;
  }

  to {
    font-size: 30px
  }
}